# Django Configuration
SECRET_KEY="Oq1W1aYTMN3P34"
DEBUG="True"
DJANGO_SETTINGS_MODULE="config.settings"

# API Configuration
API_KEY_SECRET="G23uqG0zL7zL1ocsCTZbdMPTlqlFLxjq"
API_KEY_HEADER_NAME="X-API-Key"

# MySQL Database Configuration
MYSQL_ROOT_PASSWORD="8PMxl1Q3CVS4"
MYSQL_DATABASE=horizon
MYSQL_USER=horizon
MYSQL_PASSWORD="7W81VyEijl4G"
MYSQL_HOST=horizon-router-mysql
MYSQL_PORT=3306

# Celery Configuration
CELERY_BROKER_URL=redis://horizon-router-redis:6379/0
CELERY_RESULT_BACKEND=redis://horizon-router-redis:6379/0

# Logging
LOG_LEVEL=INFO
